body {
  background-image: url(/Assets/pexels-enginakyurt-2946979.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: contain;
  background-position: center; */
  background-color:rgba(255, 255, 255, 0.9);
}



h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-size: 50px;
  margin: 60px;
  color: aqua;
  text-shadow: black 2px 2px;
  transition: ease 1s;
}

h3:hover {
  color: #9e5050;
}

p {
  margin-top: 20%;
  text-align: center;
  color: #9e5050
}


p:hover {
  color: aqua;
}

ul {
  list-style: none;
}
